<style>
        
        
        small{
            color: rgb(228, 226, 226);

        }
        .header{
            color: rgba(197, 19, 19, 0.479);
            text-align: center;
            font-size: 25px;
            font-weight: 500;
            font-family: 'Courier New', Courier, monospace;

        }
        .part1{
            
            background-color: orange;
            border:4px solid saddlebrown;
            border-radius: 10px;
            padding: 10px;
        }
        .part2{
            background-color: orchid;
            border:4px solid skyblue;
            border-radius: 10px;
            padding: 10px;
        }
        .part3{
            background-color: royalblue;
            border:4px solid teal;
            border-radius: 10px;
            padding: 10px;
        }
        .all{
            margin: 50px;
            

        }
        h1{
            color: rgba(50, 180, 197, 0.76);
        }
        .all p{
            color: rgb(145, 23, 23);
            text-align: justify;

        }
        .part4{
            background-color: rgb(2, 27, 8);
            border:4px solid rgb(119, 173, 173);
            border-radius: 10px;
            padding: 10px;
        }
        p{
            text-align:justify;
        }
        .she{
            height: 400px;
            width: 400px;
            
        }
        #she{
            margin-left: 70px;
        }
    </style>